.btn-edit-delete{
    display: flex;
    justify-content: space-between;
}

.btn-edit{
    background-color: #AB7435;
}
.btn-edit:hover{
    background-color: black;
    color: white;
}
.btn-delete{
    background-color: #615242;
}
.btn-delete:hover{
    background-color: black;
    color: white;
}
.message{
    margin: 0 0 1rem 0;
    overflow-wrap: break-word;
}

.post-con {
    position: relative;
}
.btn-del{
    width: 20px;
    height: 20px;
    position: absolute;
    right: -.5rem;
    top: -.5rem;

} 
