
.container{
    /* max-width: 1000px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #DE9645; */
    background-color: #DE9645;
}
.post-container{
    width: 40%;
    border-radius: 5px;
    background-color: #F7EADB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.allpost{
    width: 40%;
}
.input-post {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.input-post input{
    margin-bottom: 1rem;
    border-radius: 5px;
    height: 1rem;
    border: solid .5px rgba(0, 0, 0, 0.5);
}
.input-post textarea{
    margin-bottom: 1rem;
    border-radius: 5px;
}

.topic{
    text-align: center;
}

.btn-con{
    display: flex;
    justify-content: right;
    margin: 1rem;
}
.btn-post:hover{
    background-color: black;
    color: white;
}
.btn-post{
    background-color: #DE9645;
}

.all-post{
    max-width: 500px;
    margin-top: 1rem;
    background-color: #F7EADB;
    padding: 1rem;
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}